<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yww.nexus.modules.sys.mapper.RoleMapper">

    <select id="getMenuCodesByRoleIds" resultType="java.lang.String">
        SELECT
            m.code
        FROM
            sys_role_menu AS rm
                LEFT JOIN sys_menu AS m ON m.id = rm.menu_id
        WHERE
            rm.role_id IN
        <foreach item="roleId" collection="roleIds" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </select>

</mapper>
